<html>
<head>
    <link href="include/FancyTable.css" rel="stylesheet" type="text/css">
    <link href="include/rp.css"         rel="stylesheet" type="text/css">
	%%%HEAD%%%

    <script text='text/javascript'>
		%%%SCRIPT%%%
    </script>
</head>

<body>
	%%%BODY%%%
	%%%MENU%%%

	<span style='color: green; align: right;'>%%%MESSAGE%%%</span>

	Welcome back, %%%USERNAME%%%!
	<p>
	You may:
	<li><a href='%%%PAGE:campaigns%%%'>View campaigns</a></li>
	<li><a href='%%%PAGE:create%%%'>Create an account</a></li>
	<li><a href='%%%PAGE:logout%%%'>Log out</a></li>
</body>
</html>

